<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="page-list">
          <li><strong>{{ site.title }}</strong></li>
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><strong>吃饭记得叫我</strong></li>
          {% if site.twitter_username %}
          <li><a href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543667867672&di=c592820265c404530f2a8ea2df479693&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farchive%2Fccc57e62eadb25239f38366061ef6e1b5b37d721.jpg">你要到百度找我吗</a></li>
          {% endif %}

          {% if site.facebook_username %}
          <li><a href="https://baidu.com/">你要到百度找我吗</a></li>
          {% endif %}

          {% if site.github_username %}
          <li><a href="https://github.com/justforheart/spiders/">GitHub</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
